r-password {
	position: relative;
}

r-password input {
	padding-right: 2.5rem !important;
}

r-password i {
	position: absolute; bottom: 0.1rem; right: 0.1rem; font-size: 1.1em; padding: 0.6rem 0.6rem; color: #667;
}

r-password i:hover {
	color: #000; cursor: pointer;
}
