html {
	font-size: 3.0vw !important;
}

body {
	background: #fff; color: #333;
}

* {
	font-family: "Poppins", sans-serif;
}

*:not(input):not(textarea) {
	user-select: none !important;
}

select option {
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

r-app {
	position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden !important;
}

.x-hidden { display: none; }
.xx-hidden { display: none !important; }
.x-debug { border: 1px solid red !important; }

.flex-static { flex: 0 0 auto; }
.flex-even { flex: 1 1 0; }
.flex-fill { flex: 1 1 auto; }

.cursor-pointer { cursor: pointer; }

.no-pointer-events {
	pointer-events: none !important;
}

.fill-parent {
	position: absolute; left: 0; top: 0; width: 100%; height: 100%; box-sizing: border-box;
}

.vertical-center {
	margin-top: 46vh !important; transform: translateY(-50%) !important;
}

.overflow-auto {
	overflow-x: hidden !important; overflow-y: auto !important;
}

.ellipsis {
	display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.line-clamp {
	display: block; overflow: hidden; text-overflow: ellipsis !important; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;
}

.fs-01 { font-size: 0.1em; }
.fs-02 { font-size: 0.2em; }
.fs-03 { font-size: 0.3em; }
.fs-04 { font-size: 0.4em; }
.fs-05 { font-size: 0.5em; }
.fs-06 { font-size: 0.6em; }
.fs-07 { font-size: 0.7em; }
.fs-08 { font-size: 0.8em; }
.fs-09 { font-size: 0.9em; }

.fs-10 { font-size: 1.0em; }
.fs-11 { font-size: 1.1em; }
.fs-12 { font-size: 1.2em; }
.fs-13 { font-size: 1.3em; }
.fs-14 { font-size: 1.4em; }
.fs-15 { font-size: 1.5em; }
.fs-16 { font-size: 1.6em; }
.fs-17 { font-size: 1.7em; }
.fs-18 { font-size: 1.8em; }
.fs-19 { font-size: 1.9em; }
.fs-20 { font-size: 2.0em; }

/* *** */
@keyframes fade-out {
	0% { opacity: 1; transform: scale(1.0); }
	100% { opacity: 0; transform: scale(2.0); }
}

@keyframes fade-in {
	0% { opacity: 0; transform: scale(2.0); }
	100% { opacity: 1; transform: scale(1.0); }
}

@keyframes fade-in-rev {
	0% { opacity: 0; transform: scale(1.0); }
	100% { opacity: 1; transform: scale(1.0); }
}

[data-anim='fade-out'] { animation: fade-out 0.500s ease both; pointer-events: none; }
[data-anim='fade-in'] { animation: fade-in 0.500s ease both; }
[data-anim='fade-in-rev'] { animation: fade-in-rev 0.500s ease both; }

.content {
	background: #fff; flex: 1 1 auto; overflow-y: auto;
}

/* *** */
r-form.busy .spinner, .r-form.busy .spinner {
	position: relative; pointer-events: none !important;
}

r-form.busy .spinner:after, .r-form.busy .spinner:after {
	position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #0d6efd url('form-busy-spinner.svg') center center no-repeat; content: '';
}

span.field-error {
	color: #f00; font-size: 0.8em;
}

/* *** */
r-panel, .r-panel {
	display: block;
}

r-panel:not(.active), .r-panel:not(.active) {
	display: none;
}
